@font-face {
  font-family: 'Neue';
  src: url('@/assets/fonts/NeueHaasDisplayThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue';
  src: url('@/assets/fonts/NeueHaasDisplayLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue';
  src: url('@/assets/fonts/NeueHaasDisplayRoman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue';
  src: url('@/assets/fonts/NeueHaasDisplayMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue';
  src: url('@/assets/fonts/NeueHaasDisplayBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue';
  src: url('@/assets/fonts/NeueHaasDisplayBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
